
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #8d1e9ce4;
  color: white;
  text-align: center;
  /* padding: espaçamento interno (top, right, botton, left) */
  /* margin espaçamento externo ( " " " " ) */
  padding: 20px 30px 60px 100px;
}

.container {
    display: flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
    padding: 20px;
     height: 73vh;
     background-color:gainsboro;
}

.box {
    background-color: aliceblue;
    border: 4px solid #ccc;]
    padding: 30px;
    width: 30%;
    text-align:center
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }
    .box {
        width: 80%;
    }
}